@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif !important;
}

.mdx-content h1,
.mdx-content h2,
.mdx-content h3,
.mdx-content h4,
.mdx-content h5,
.mdx-content h6 {
  font-family: 'Questrial', sans-serif !important;
}

#page-title {
  font-family: 'Questrial', sans-serif !important;
}